<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Mohammed Kassahun">

  <link rel="icon" href="{{ site.url }}/assets/icons/fav.png" type="image/icon">
  <link rel="stylesheet" href='{{site.url}}/assets/css/css.css'>
  <link rel="stylesheet" href='{{site.url}}/assets/css/pygments/default.css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>
  <script src='{{site.url}}/assets/js.js' crossorigin='anonymous' defer></script>


  <title>{{ page.title }}</title>
  {% seo %}
</head>
<body>

<div class="container-fluid p-md-2 mb-md-5 border-bottom">
  <div class="container " id="header" >
    <div class="d-flex justify-content-around">
      
      <div class="h3"><a id='logo' href="{{ site.url}}" class="text-decoration-none current" ><img src="https://raw.githack.com/mhmmdk/gallery/master/Log.png" ALT="" WIDTH=60 HEIGHT=40>Mohammed K</a><a href="{{ site.url}}" class="text-decoration-none current" ><span id="animate" class="">assahu</span>n</a></div>
      <div class="" id="search"></div>  
      <div>
        <a href="/app" class="pl-md-2 text-decoration-none {% if page.url contains '/app'%}current {%endif%}">Applications</a>
        <a href="{{ site.url}}/pro" class="pl-md-2 text-decoration-none {% if page.url contains '/pro'%}current {%endif%}">Projects</a>
        <a href="/todo" class="pl-md-2 text-decoration-none {% if page.url contains '/todo' %}current {%endif%}">Todo</a>
      </div>
    
    </div>
  </div>
</div>



