    .current{
      color: #0056b3;  
    }
    body{
        font-weight: 370 !important;
        font-size: 18px !important;
    }
  .hvr {
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s; 
    animation: easeout 4s ease-out 0s infinite backwards;
  }

  @-webkit-keyframes easeout {
    from {font-size: 0.15em;}
    to {font-size: 1em;}
  }
  @keyframes example {
    from {font-size: 15%;}
    to {font-size: 100%;}
  }

.highlight pre{
  border: 0.1px solid #dddddd;
  border-radius: 9px;
  padding: 0.7rem;
  margin-bottom: 0.7rem;
}

.highlight div{
  border: 0.1px solid #dddddd;
  border-radius: 9px;
  padding: 0.7rem;
  margin-bottom: 0.7rem;
}


