    .current{
      color: #0056b3;  
    }

  .hvr {
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s; 
    animation: easeout 4s ease-out 0s infinite backwards;
  }

  @-webkit-keyframes easeout {
    from {font-size: 0.15em;}
    to {font-size: 1em;}
  }
  @keyframes example {
    from {font-size: 15%;}
    to {font-size: 100%;}
  }
