


test
<div class="container mb-3">
	{% for a in archive %}
	<div>{{a}}</div>
	<div>{{a.content}}</div>
	<p>Test</p>
	{% endfor %}
    <nav >
      <ul class="pagination pagination-sm flex-wrap">
	{% assign i = 0 %}
	{% assign posts = site.posts | sort: ":title" | reverse %}
	{% for p in posts %}
	  <li class="page-item page-link" data-toggle="tooltip" title="{{ p.title }}"><a href="{{ p.url }}" >{{ forloop.index0 }}</a></li>
	{% endfor %}
        <li class="page-item page-link">&raquo;</li>
      </ul>
    </nav>
</div>

<div class="container mb-3"><div class="row">
 
<div class="pl-3 text-truncate" style="background-image: url(https://rawcdn.githack.com/mhmmdk/gallery/master/c1.svg);"></div>
  <div class="col-md-9" style='background-color:white;'>
    {{ content }}
  </div></div>
</div>

{% include footer.html %}
